/*color*/
:root{
    --color0:#3f3f3f;
    --color1:#57966a;
    --color2:#a7d0ad;
    --color3:#f0f9f4;
    --color4:#e4f9f7;
    --color5:#5ac3ba;
    --color6:#19af1e;
    --gray1:#d2d2d2;
    --gray2:#e9e9e9;


}
#app{
    font-family: Quicksand-Light, 微軟正黑體, sans-serif;
    overflow: hidden;
    width: 100%;
    color:var(--color0);
}
body a{
    color:var(--color1);
}
body a:hover{
    color:var(--color5);
}
a, a:hover{
    text-decoration: none;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body small, body .small{
    font-size: 85%;
}
/*手機*/@media (max-width: 767px){
    #app, #app .el-radio-button__inner, #app .form-control, #app .custom-select,
    #app .el-submenu__title, #app .el-menu-item, #app .el-collapse-item__header, #app .el-collapse-item__content,
    #app .el-input__inner, body .modal-body, #app .btn,
    .modal.show .modal-dialog .footerButton button.btn, #app .el-switch__label *, #app .input-group-text,
    #app .el-date-editor .el-range-input, #app .el-date-editor .el-range-separator, body .input-group-text, body .form-control,
    body .el-cascader-panel, body .el-textarea__inner, body .el-checkbox__label, body .el-radio__label, body .el-pager li,
    body .el-pagination .btn-next .el-icon, body .el-pagination .btn-prev .el-icon, body .el-tree-node__label, body .el-tabs__item,
    body .el-button--mini, body .el-button--small, body .el-step.is-simple .el-step__title, body .el-dialog__body,
    body .el-upload-dragger .el-upload__text, body .el-tag, body .el-tag .el-icon-close, body .el-button {
        font-size: 16px;
        font-weight: 400;
    }
}
/*手機以上*/@media (min-width: 768px){
    #app, #app .el-radio-button__inner, #app .form-control, #app .custom-select,
    #app .el-submenu__title, #app .el-menu-item, #app .el-collapse-item__header, #app .el-collapse-item__content,
    #app .el-input__inner, body .modal-body, #app .btn,
    .modal.show .modal-dialog .footerButton button.btn, #app .el-switch__label *, #app .input-group-text,
    #app .el-date-editor .el-range-input, #app .el-date-editor .el-range-separator, body .input-group-text, body .form-control,
    body .el-cascader-panel, body .el-textarea__inner, body .el-checkbox__label, body .el-radio__label, body .el-pager li,
    body .el-pagination .btn-next .el-icon, body .el-pagination .btn-prev .el-icon, body .el-tree-node__label, body .el-tabs__item,
    body .el-button--mini, body .el-button--small, body .el-step.is-simple .el-step__title,
    body .el-dialog__body, body .el-upload-dragger .el-upload__text, body .el-tag, body .el-tag .el-icon-close, body .el-button{
        font-size: 16px;
        font-weight: 400;
    }
}
/*PC大*/@media (min-width: 1200px){
    #app, #app .el-radio-button__inner, #app .form-control, #app .custom-select,
    #app .el-submenu__title, #app .el-menu-item, #app .el-collapse-item__header, #app .el-collapse-item__content,
    #app .el-input__inner, body .modal-body, #app .btn,
    .modal.show .modal-dialog .footerButton button.btn, #app .el-switch__label *, #app .input-group-text,
    #app .el-date-editor .el-range-input, #app .el-date-editor .el-range-separator, body .input-group-text, body .form-control,
    body .el-cascader-panel, body .el-textarea__inner, body .el-checkbox__label, body .el-radio__label, body .el-pager li,
    body .el-pagination .btn-next .el-icon, body .el-pagination .btn-prev .el-icon, body .el-tree-node__label, body .el-tabs__item,
    body .el-button--mini, body .el-button--small, body .el-step.is-simple .el-step__title,
    body .el-dialog__body, body .el-upload-dragger .el-upload__text, body .el-tag, body .el-tag .el-icon-close, body .el-button{
        font-size: 20px;
        font-weight: 400;
    }
}
/*---------input---------*/
#app .el-date-editor.el-input, #app .el-date-editor.el-input__inner, #app .el-select, #app .el-cascader{
    width: 100%;
}
body .el-select-dropdown__item{
    height: 50px;
    line-height: 50px;
}
body .el-date-table, body .el-date-picker__header-label, body .el-select-dropdown__item{
    font-size: 20px;
}
body .el-switch__label.is-active *{
    color: var(--color5);
}
body .el-switch.is-checked .el-switch__core{
    border-color: var(--color5);
    background-color: var(--color5);
}
#app .el-input__inner{
    border: 1px solid #ced4db;
}
body .el-checkbox__input.is-checked+.el-checkbox__label{
    color: var(--color5);
}
body .el-checkbox__input.is-checked .el-checkbox__inner, body .el-checkbox__input.is-indeterminate .el-checkbox__inner, body .el-radio__input.is-checked .el-radio__inner{
    background-color: var(--color5);
    border-color: var(--color5);
}
body .input-group-text{
    background-color: var(--color4);
}
body .form-control:disabled, body .form-control[readonly]{
    background-color:#f5f5f5;
}
body .el-radio__input.is-checked+.el-radio__label{
    color: var(--color5);
}
body .el-radio__inner{
    width: 20px;
    height: 20px;
}
body .el-radio__inner::after {
    width: 8px;
    height: 8px;}
body .el-checkbox__inner:hover{
    border-color: var(--color5);
}
body .form-control::placeholder, body .el-input__inner::placeholder, body .el-date-editor .el-range-input::placeholder{
    color: #adadad;
}
body .form-control:focus{
    border-color: var(--color1);
    box-shadow: 0 0 0 0.2rem rgba(108, 197, 102, 0.25);
}
body .el-pager li, body .el-pagination button, body .el-pager li.btn-quicknext, body .el-pager li.btn-quickprev{
    width: 40px;
    height: 40px;
    line-height: 40px;
}
body .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: var(--color2);
    color: rgba(0, 0, 0, 0.7);
}
body .el-pagination.is-background .el-pager li:not(.disabled):hover{
    color: #ffffff;
}
body .el-select-dropdown__item.selected{
    color:var(--color6);
}
body .el-pagination{
    margin: 2.5rem 0 5rem;
}
body .el-tag{
    margin: 0 10px 10px 0;
    padding: 5px 15px;
    height: auto;
}
body .el-tag .el-tag__close {
    width: auto;
    height: auto;
    padding: 3px 1px;
}

body .el-input-number__decrease:hover, body .el-input-number__increase:hover{
    color: var(--color5);
}
body .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
body .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){
    border-color: var(--color5);
}
body .el-date-table td.today{
    background-color: var(--color3);
}
body .el-date-table td.today span, body .el-date-table td.available:hover{
    color: var(--color1);
}
body .el-cascader-node.in-active-path, body .el-cascader-node.is-active, body .el-cascader-node.is-selectable.in-checked-path, body .el-tabs__item:hover {
    color: var(--color6);
}
/*PC大*/@media (min-width: 1200px){
    #app .el-input__inner{
        height: 44px;
        line-height: 44px;
    }
    body .el-picker-panel__footer{
        padding: 12px;
    }
}

/*---------按鈕---------*/
.btn.btn-warning{
    background-color: var(--color1);
    border-color: var(--color1);
    color: #FFFFFF;
}
.btn.btn-warning:hover{
    background-color: var(--color3);
    color: var(--color1);
}
.buttonAndSearch .btn{
    line-height: 2.2;
    padding: 0 20px;
    font-weight: 600;
    font-size: inherit;
}
.buttonAndSearch .btn i{
    margin-right: 5px;
    font-weight: 900;
}
.backToPrevious {
    border-radius: 100%;
    text-align: center;
    width: 43px;
    height: 41px;
    margin: -4px 8px 0 0;
    padding: 5px;
}
body .btn-outline-danger{
    color: var(--color5);
    border-color: var(--color5);
}
body .btn-outline-danger:hover{
    background-color:  var(--color5);
    border-color: var(--color5);
    color:#FFFFFF;
}
body .btn-danger:not(:disabled):not(.disabled):active, body .btn-danger:not(:disabled):not(.disabled).active, body .show > .btn-danger.dropdown-toggle{
    background-color:  var(--color5);
    border-color: var(--color5);
    box-shadow: 0 0 0 0.2rem rgba(53, 220, 212, 0.5);
}
body .el-button.is-round{
    border-radius: 50px;
}
body .el-button{
    color: #3f3f3f;
    border-color: #3f3f3f;
}
body .el-button:hover, body .el-button:focus{
    background-color: #3f3f3f;
    border-color: #3f3f3f;
    color:#FFFFFF;
}
body .btn-outline-danger:focus, body .btn-outline-danger.focus, body .el-button:focus, body .el-button.focus{
    box-shadow: 0 0 0 0.2rem rgba(53, 220, 212, 0.5);
}
body .btn-outline-danger:not(:disabled):not(.disabled):active, body .btn-outline-danger:not(:disabled):not(.disabled).active {
    background-color: var(--color1);
    border-color: var(--color1);
}
body .btn-warning:not(:disabled):not(.disabled):active, body .btn-warning:not(:disabled):not(.disabled).active, body .show > .btn-warning.dropdown-toggle {
    color: #FFFFFF;
    background-color: var(--color5);
    border-color: var(--color5);
}
/*---------單選--------*/
#app .el-radio-button__inner{
    font-weight: 400;
    border-color: var(--gray1);
}
#app .el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background-color: var(--color1);
    border-color: var(--color1);
    color: #FFFFFF;
    box-shadow: -1px 0 0 0 var(--color1);
}
#app .el-radio-button__inner:hover{
    color: var(--color0);
    background-color: var(--color4);
}

/*---------modal--------*/
.modal.show .modal-dialog .footerButton button.btn{
    line-height: 2;
}
body .el-dialog__headerbtn{
    font-size: 25px;
}

body .DeleteTypeNameModal table{
}
body .DeleteTypeNameModal td{
    padding: 3px 10px;
}
/*------------上傳圖片-------------*/
.fileUpload {
    background: url(../images/addnewimage.png) no-repeat 50%;
    background-size: cover;
    border: 1px solid var(--color1);
}
.fileUpload input {
    opacity: 0;
}
.fileUpload .image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    /*Position: absolute;*/
    top: 0;
}
.fileUpload .image-preview img {
    display: table;
}
.fileUploadList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}
.fileUpload button{
    Position: relative;
    z-index: 9;
    padding: 5px 0 0;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: #ec9a00;
    text-shadow: 0 0 3px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
}
/*手機小*/@media (min-width: 1px){
    .fileUpload{
        width: 76px;
        height: 76px;
    }
    .fileUpload input, .fileUpload .image-preview{
        width: 74px;
    }
    .fileUpload input, .fileUpload .image-preview, .fileUpload .image-preview img{
        height: 74px;
    }
    .fileUpload .image-preview{
        overflow: hidden;
    }
    .fileUpload .file-upload-form, .fileUpload button{
        margin-top: -74px;
    }
    .fileUpload button{
        margin-left: 50px;
    }
}
/*手機*/@media (min-width: 375px){
    .fileUpload{
        width: 102px;
        height: 102px;
    }
    .fileUpload input, .fileUpload .image-preview{
        width: 100px;
    }
    .fileUpload input, .fileUpload .image-preview, .fileUpload .image-preview img{
        height: 100px;
    }
    .fileUpload .image-preview{
        overflow: hidden;
    }
    .fileUpload .file-upload-form, .fileUpload button{
        margin-top: -100px;
    }
    .fileUpload button{
        margin-left: 80px;
    }
}
/*手機以上*/@media (min-width: 768px){
    .fileUpload{
        width: 149px;
        height: 149px;
    }
     .fileUpload input, .fileUpload .image-preview{
        width: 147px;
    }
    .fileUpload input, .fileUpload .image-preview, .fileUpload .image-preview img{
        height: 147px;
    }
    .fileUpload .image-preview{
        overflow: hidden;
    }
    .fileUpload .file-upload-form, .fileUpload button{
        margin-top: -147px;
    }
    .fileUpload button{
        margin-left: 122px;
    }
}

/*-------------登入.選登入店家-------------*/
.ChooseStorePage{
    overflow: auto;
}
.adminLoginPage, .ChooseStorePage{
    height: 100vh;
    width: 100%;
    background-image: url(../images/loginBg.png);
    background-Position: center;
    background-size: cover;
}
.adminLoginPage .col-lg-4{
    Position: relative;
    height: 100vh;
}
.adminLoginPage .logo{
    text-align: center;
    padding-bottom: 2vh;
}
.adminLoginPage .logo img{
    width: 75%;
}
.adminLoginPage .login, .ChooseStorePage .btn{
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0, 31, 70, 0.27);
    background-color: rgba(255, 255, 255, 0.9);
}
.adminLoginPage .inputBox{
    padding-top: 12vh;
}
.login .loginboxarea input{

}
.login .loginboxarea input::placeholder{
    color: #ccc;
}
.login .loginboxarea input[type="button"]{
    background: var(--color1);
    border-color: var(--color1);
    color: #ffffff;
    min-width: 80%;
    border-radius: 99rem;
    margin: 3vh auto 0;
    display: table;
    line-height: 2.2;
    font-size: 110%;
}
.login .loginboxarea input[type="button"]:hover{
    background: var(--color3);
}
.adminLoginPage .BoxSize{
    margin: 0 auto;
}
.adminLoginPage .loginboxarea span.input-group-text{
    background-color: #ffffff;
    border-width: 1px 0 1px 1px;
    padding: 0.375rem 0.2rem 0.375rem 0.75rem;
    border-color: var(--gray1);
}
.adminLoginPage .loginboxarea .form-control, .adminLoginPage .loginboxarea .custom-select{
    border-width: 1px 1px 1px 0;
    border-color: var(--gray1);
    height: 45px;
}
.adminLoginPage .loginboxarea span.input-group-text img{
height: 20px;
}
.ChooseStorePage .btn{
    letter-spacing: 1px;
    border-color: var(--color1);
    transform:scale(0.98,0.98);
    transition: 0.2s;
}
.ChooseStorePage .btn:hover{
    box-shadow: 0 3px 25px rgba(255, 191, 15, 0.92);
    color: #e09e00;
    transform:scale(1,1);
}
.ChooseStorePage .btn h3{
}
.ChooseStorePage .btn .area{
    color: #aba495;
}

/*手機*/@media (max-width: 767px){
    .adminLoginPage .login{
        padding: 7vw 5vw 5vw ;
    }
    .adminLoginPage .BoxSize{
        padding-right: 3px;
        padding-left: 3px;
    }
    .adminLoginPage .el-radio-button__inner{
        padding: 12px 10px;
    }
    .ChooseStorePage .btn{
        width: 39vw;
        height: 39vw;
    }
}
/*手機以上*/@media (min-width: 768px){
    .adminLoginPage .login{
        padding: 5vw 60px 3.5vw ;
    }
    .ChooseStorePage .btn{
        width: 21vw;
        height: 21vw;
    }
}

/*PC大*/@media (min-width: 1200px){
    .ChooseStorePage .btn{
        width: 350px;
        height: 350px;
    }
}

/*-------------主板及選單-------------*/
.BigAllMainPage .navBarTop{
    display: flex;
}
.BigAllMainPage .navBarTop .logo{
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.BigAllMainPage .mainLeftArea .el-menu li.el-menu-item.is-active {
    background-color: #e4f9f7 !important;
}
.BigAllMainPage .mainLeftArea .el-menu li.el-menu-item:hover{
    background-color: var(--color3) !important;
}
.BigAllMainPage .mainLeftArea .el-menu li.el-menu-item.is-active img{
    opacity: 1;
}
.BigAllMainPage .navBarTop .navbar-brand{
    padding: 0;
    margin: 0;
}
nav.navBarTop .centerBox{
    display: flex;
    flex-direction: row-reverse;
}
nav.navBarTop .centerBox .box1, nav.navBarTop .centerBox .box2, nav.navBarTop .centerBox .box3{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav.navBarTop .centerBox .box2{
    padding: 0 1.8vw 0 2.5vw;
}
nav.navBarTop .centerBox .box3{
    background-color: var(--color2);
    padding: 0 1.5vw;
}
nav.navBarTop .centerBox .box2 .link{
    color:#d1ffb4;
}
nav.navBarTop .centerBox .box2 .link, nav.navBarTop .centerBox .box3 .link{
    display: contents;
}
.BigAllMainPage .mainLeftArea .SidebarAll img{
    margin-right: 10px;
}
.BigAllMainPage .mainLeftArea .el-submenu{
    margin: 0 0 10px;
    overflow: hidden;
    letter-spacing: 1px;
}
.BigAllMainPage .mainLeftArea li.is-opened{
    background-color: var(--color4);

}
.BigAllMainPage .mainLeftArea li .el-submenu__title{
    padding-left: 0 !important;
    font-weight: 400;
}
.BigAllMainPage .mainLeftArea li.is-opened .el-submenu__title{
    background-color: var(--color3) !important;
    color: #000000 !important;
}
.BigAllMainPage .mainLeftArea li .el-submenu__title span.leftLine {
    width: 8px;
    display: table;
    float: left;
    margin-right: 15px;
}
.BigAllMainPage .mainLeftArea li .el-submenu__title span.leftLine {
    height: 55px;
}
.BigAllMainPage .mainLeftArea li .el-menu-item-group__title{
    padding: 0;
}
.BigAllMainPage .mainLeftArea li.is-opened .is-active{
    font-weight: 500;
}
.BigAllMainPage .mainLeftArea .el-submenu__title i{
    display: none;
}
.BigAllMainPage .mainLeftArea .SidebarAll img{
    opacity: 0.3;
}
.BigAllMainPage .mainLeftArea .SidebarAll li.is-opened img{
    opacity: 1;
}
.platformChange span.el-radio-button__inner {
    padding: 15px 10px;
    font-size: 18px !important;
}
.platformChange .el-radio-group {
    margin: 0 auto;
    display: table;
}
nav.navBarTop select.custom-select {
    background-color: var(--color3);
    border: 1px solid #ffffff;
}
.BigAllMainPage .mainLeftArea .el-menu{
    border-right: none;
}
.el-submenu__title:focus, .el-submenu__title:hover{
    outline: 0 !important;
    background: none !important;
}
.BigAllMainPage .mainLeftArea li .el-submenu__title:hover, .BigAllMainPage .mainLeftArea .el-submenu .el-menu-item:hover{
    color: #000000 !important;
}
.BigAllMainPage .mainLeftArea li .el-submenu__title:hover img{
    opacity: 1;
}
.BigAllMainPage .mainLeftArea .el-submenu .el-menu-item:hover{
    background-color: transparent !important;
}
.BigAllMainPage .mainRightArea .pageTopBar {
    padding: 15px 20px 0;
}
.pageTopBar h1{
    font-weight: 300;
}
/*手機*/@media (max-width: 991px){

    .BigAllMainPage .menuTwo{
        background-color: var(--color1);
    }
    .BigAllMainPage .navbar-collapse{
        width: 100vw;
    }
    .BigAllMainPage .mainLeftArea .SidebarAll img{
        max-height: 20px;
        width: 20px;
    }
    .BigAllMainPage .navBarTop .logo{
        background-image: url("../images/littlelogo.svg");
        margin: 8px 0 0 15px;
        height: 29px;
        width: 105px;
    }
    nav.navBarTop .centerBox{
        width: calc(100vw - 61px - 15px - 60px);
    }
    nav.navBarTop button.navbar-toggler{
        width: 60px;
        border: none;
        font-size: 26px;
        color: #cbfab1;
    }
    #app nav.navBarTop .centerBox, #app nav.navBarTop .custom-select{
        font-size: 14px;
    }
    #app nav.navBarTop .custom-select{
        margin: 5px 0;
    }
    nav.navBarTop .centerBox .box3 img {
        height: 16px;
        margin-right: 3px;
    }
    nav.navBarTop .centerBox .box2 img {
        height: 13px;
        margin-right: 3px;
    }
    nav.navBarTop .centerBox .box3{
        display: none;
    }
    .BigAllMainPage .mainLeftArea li.is-opened .el-submenu__title span.leftLine{
        background-color:var(--color5);
    }
    .BigAllMainPage .mainLeftArea .navbar-nav{
        padding: 10px 9px 5px;
    }
    .BigAllMainPage .mainLeftArea .el-submenu .el-menu-item{
        height: 48px;
        line-height: 48px;
        padding-left: 57px !important;
    }
    .BigAllMainPage .mainLeftArea .el-submenu__title{
        height: 48px;
        line-height: 48px;
    }
    .BigAllMainPage .mainLeftArea li .el-submenu__title span.leftLine {
        height: 48px;
    }

    #app .platformChange .el-radio-button__orig-radio:checked+.el-radio-button__inner {
        background-color: var(--color5);
        border-color: var(--color5);
        color: #ffffff;
    }
    .mainLeftArea .platformChange{
        padding-bottom: 10px;
    }
    nav.navBarTop .centerBox .box1{
        margin: 0 10px;
    }
    nav.navBarTop .centerBox .box2{
        min-width: 60px;
    }
}
/*PC*/@media (min-width: 992px){
    .BigAllMainPage .navBarTop button.navbar-toggler{
        display: none;
    }
    .BigAllMainPage .navbar-expand-lg .navbar-nav{
        min-height: calc(100% - 60px);
    }
    .BigAllMainPage .navBarTop{
        background-color: var(--color1);

    }
    .BigAllMainPage .mainLeftArea.navbar-expand-lg {
        float: left;
        border-right: 4px solid var(--gray2);
        padding: 15px 0;
        height: calc(100vh - 7vh);
        overflow-y: auto;
    }
    .BigAllMainPage .mainLeftArea .el-menu {
        width: 201px;
    }
     .SidebarAll #navbarText{
         height: calc(100vh - 6vh - 30px);
    }

    .BigAllMainPage .mainLeftArea .SidebarAll img{
        width: 24px;
        max-height: 24px;
    }
    .BigAllMainPage .navBarTop .logo{
        background-image: url("../images/LOGO.svg");
        margin: 1.4vh 0 1vh 30px;
        height: 3.5vh;
        width: 25vh;
    }
    .SidebarAll #navbarText{
        display: block !important;
    }
    nav.navBarTop .centerBox{
        width: calc(100vw - 25vh - 30px);
    }
    nav.navBarTop .centerBox .box3 img {
        height: 25px;
        margin-right: 6px;
    }
    nav.navBarTop .centerBox .box2 img {
        height: 15px;
        margin-right: 6px;
    }
    .BigAllMainPage .mainLeftArea .el-submenu{
        /*width: 185px;*/
    }
    .BigAllMainPage .mainLeftArea li.is-opened .el-submenu__title span.leftLine{
        background-color: var(--color1);
    }
    .BigAllMainPage .mainLeftArea .el-submenu .el-menu-item{
        height: 65px;
        line-height: 65px;
        padding-left: 57px !important;
    }
    .BigAllMainPage .mainLeftArea li .el-submenu__title span.leftLine {
        height: 55px;
    }
 .BigAllMainPage .mainRightArea{
     padding-left: 205px;
 }
 .outBigLayout{
     height: calc(100vh - 64px);
     overflow-y: auto;
 }

}

/*------------RWD表格-------------*/

.mainRightArea .rwd-table, .DragListTable{
    width: 100%;
    margin-top: 15px;
}
.mainRightArea .rwd-table tr button.sort{
    background: transparent;
    border: none;
}
.mainRightArea .rwd-table tr{
    font-weight: normal;
}
.mainRightArea .rwd-table th, .DragListTable .titleTopBar .boxTd{
    display: none;
}
.mainRightArea .rwd-table th, .mainRightArea .rwd-table td{
    font-weight: 400;
}
.mainRightArea .rwd-table td, .DragListTable .DragListDraggable .boxTd{
    display: block;
}
.mainRightArea .rwd-table td:before, .DragListTable .DragListDraggable .boxTd:before{
    content: attr(data-th) ": ";
    font-weight: bold;
    min-width: 5rem;
    display: inline-block;
    float: left;
}
.mainRightArea .rwd-table table td:before{
    min-width: 0;
    content: ' ';
}
.mainRightArea .rwd-table span.font1,
.mainRightArea .rwd-table span.font2 {
    display: table;
}
.mainRightArea .Page.navigation {
    display: table;
    margin: 0 auto;
}
.mainRightArea .rwd-table .status{
    background: #ccc;
    color: #FFF;
    font-size: .7rem;
    padding: .2rem .5rem;
    margin-left: .5rem;
    border-radius: 3px;
}
.mainRightArea .rwd-table .info_id{
    color: #333;
    font-weight: 600;
}
.mainRightArea .rwd-table .btn, .DragListTable .boxTd .btn{
    padding: 3px 10px;
    border-radius: 8px;
}
.mainRightArea .btn-outline-secondary{
    border-color: #3f3f3f;
}
.mainRightArea .btn-outline-secondary:hover{
    background-color: #3f3f3f;
}
.mainRightArea .btn-danger{
    background-color: var(--color5);
    border-color: var(--color5);
}
.mainRightArea .btn-danger:hover{
    background-color:var(--color1);
    border-color: var(--color1);
    color: #FFFFFF;
}
.mainRightArea .rwd-table .el-collapse-item__header, .mainRightArea .rwd-table .el-collapse{
    border: none;
    height: auto;
    line-height: inherit;
}
.mainRightArea .rwd-table .el-collapse-item td, .mainRightArea .rwd-table .el-collapse-item__wrap{
    border: none;
}
.mainRightArea .rwd-table .el-collapse-item td:nth-child(2){
    word-break: break-all;

}
.mainRightArea .rwd-table .el-collapse-item__content{
    padding-bottom: 0;
}
.mainRightArea .rwd-table span.closeText {
    color: var(--color5);
}
@media(max-width:767px) {
    .mainRightArea .rwd-table, .DragListTable{
        margin-left: 20px;
        width: calc(100vw - 40px);
    }
    .mainRightArea .rwd-table th,
    .mainRightArea .rwd-table td {
        text-align: left;
    }
    .mainRightArea .rwd-table td, .DragListTable .DragListDraggable .boxTd{
        min-height: 2rem;
        word-break: break-all;
        line-height: 2rem;
        display: flex;
        padding-bottom: 5px;
    }
    .mainRightArea .rwd-table td table td{
        display: table;
    }
    .mainRightArea .rwd-table td:before, .DragListTable .DragListDraggable .boxTd:before{
        height: 1em;
        font-weight: bold;
        color: #000;
    }
    .mainRightArea .rwd-table tr td:nth-last-child(1), .DragListTable .DragListDraggable{
        border-bottom: 1px solid #bdbdbd;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }
    .mainRightArea .rwd-table tr td table tr td:nth-last-child(1){
        border: none;
    }
    .mainRightArea .rwd-table tr:nth-last-child(1) td:nth-last-child(1){
        border-bottom: none;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
    .mainRightArea .rwd-table tr td::before {
        height: 2rem;
    }
    .mainRightArea .rwd-table .btn{
        padding: 0 0.5rem;
        margin: 0 .3rem 0 0;
    }
    .mainRightArea .rwd-table .el-collapse-item td:before{
        content: none;
    }
    .mainRightArea .rwd-table .el-collapse-item tr{
        display: flex;
    }
    .mainRightArea .rwd-table .el-collapse-item tr td:nth-last-child(1){
        margin: 0;
        border: none;
        padding: 0;

    }
    .mainRightArea .rwd-table .el-collapse-item td:nth-child(1){
        padding-right: 15px;
        min-width: 64px;
    }

    .mainRightArea .rwd-table .el-collapse-item.is-active {
        display: inline-block;
    }
    .mainRightArea .rwd-table .el-collapse-item table{
        width: calc(100vw - 140px);
    }
}
/*手機以上*/
@media(min-width:768px) {

    .mainRightArea .rwd-table tr:nth-child(1),
    .mainRightArea .rwd-table tr:nth-last-child(1) {
        border: none;
    }

    .mainRightArea .rwd-table th:nth-child(1), .mainRightArea .rwd-table td:nth-child(1){
        padding: 12px 5px 12px 25px;

    }
    .mainRightArea .rwd-table th,
    .mainRightArea .rwd-table td, .DragListTable .titleTopBar .boxTd, .DragListTable .DragListDraggable .boxTd{
        display: table-cell;
        padding: 18px 5px 18px 0;
    }
    .mainRightArea .rwd-table th, .DragListTable .titleTopBar .boxTd{
        line-height: 0.7;
    }
    .mainRightArea .rwd-table td:before, .DragListTable .DragListDraggable .boxTd:before{
        display: none;
    }
    .mainRightArea .rwd-table td, .DragListTable .DragListDraggable .boxTd{
        border-bottom: 1px solid #e4e4e4;
    }
    .mainRightArea .rwd-table.info th, .mainRightArea .rwd-table.info td{
        text-align: left;
        border: 0;
    }
    .mainRightArea .rwd-table {
        overflow: hidden;
    }
    .mainRightArea .rwd-table th,
    .mainRightArea .rwd-table td:before, .DragListTable .titleTopBar .boxTd{
        background-color: #f7f6f6;
        border-top: 1px solid #ececec;
    }
    .mainRightArea .rwd-table .el-collapse-item th:nth-child(1),
    .mainRightArea .rwd-table .el-collapse-item td:nth-child(1){
        padding-left: 0;
        width: 48px;
    }

    .mainRightArea .rwd-table .el-collapse-item td{
        padding: 0 0 6px 0;
        vertical-align: top;
    }
    .mainRightArea .rwd-table .el-collapse-item table{
        width: 100%;
    }
    .mainRightArea .rwd-table .el-collapse-item td:nth-child(2){
        width: 220px;
    }
}
/*------------拖移表格-------------*/

.DragListTable .titleTopBar .boxTd, .DragListTable .DragListDraggable .boxTd{
    width: 10%;
}
.ApplicationListPage .DragListTable .boxTd.box2{
    padding-left: 25px;
}
.ApplicationListPage .DragListTable .boxTd.box3{
    width: 8%;
}
.ApplicationListPage .DragListTable .boxTd.box4{
    width: 20%;
}
.ApplicationListPage .DragListTable .boxTd.box5{
    width: 20%;
}
.ApplicationListPage .DragListTable .boxTd.box8{
    width: 12%;
}
.DragListTable .DragListDraggable .boxTd{
    background-color: white;
}
/*手機*/@media (max-width: 767px){
    .DragListTable .DragListDraggable .boxTd {
        display: table-footer-group;
    }
}
/*手機以上*/@media (min-width: 768px){
    .DragListTable .titleTopBar, .DragListTable .DragListDraggable{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
/*------------儀表板-------------*/
.DashboardPage .leftBox{}
.DashboardPage .leftBox li{}
.DashboardPage .title {
    background-color: var(--color3);
    font-size: 110%;
    padding: 5px 15px;
    letter-spacing: 1px;
    color: black;
    border-radius: 10px 10px 0 0;
}
.DashboardPage .content{
    padding: 10px;
}
.DashboardPage .leftBox .content .number{
    font-size: 120%;
    color: var(--color5);
    font-weight: bold;
}
.DashboardPage .leftBox, .DashboardPage .rightBox{
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 25px;
}
.DashboardPage .rightBox .title{
    background-color: #efede8;
    overflow: hidden;

}
.DashboardPage .MaleFemale .echarts {
    width: 100%;
    height: 300px;
}

.DashboardPage .yearsImage .echarts{
    width: 100%;
    height: 300px;
}
.DashboardPage .addressImage{
    overflow-x: auto;
}
.DashboardPage .addressImage .echarts{
    width: 100%;
    min-width: 600px;
    height: 370px;
}
.DashboardPage .leftBox .littleTitle{
    padding-top: 5px;
    width: 80px;
}
.DashboardPage .leftBox .littleTitle div{
    background-color: var(--color5);
    border-radius: 10px;
    color: #ffffff;
    display: inherit;
    padding: 0 7px;
    font-size: 95%;
}

/*------------選擇圖片或上傳新圖-------------*/
.SelectGalleryOrUpload .el-dialog__header{
    padding: 10px;
}
.SelectGalleryOrUpload .el-dialog{
    margin-top: 1vh !important;
}
.SelectGalleryOrUpload .SelectImageArea{
    overflow-y: auto;
}
.SelectGalleryOrUpload .SelectImageList, .SelectGalleryOrUpload .SelectImageList .el-checkbox-group{
    display: grid;
    grid-gap: 10px;

}
.SelectGalleryOrUpload .PictureOptions.el-checkbox.is-bordered{
    height: auto;
    padding: 0;
    border-width: 3px;
    margin: 0;

}
.SelectGalleryOrUpload .el-checkbox.PictureOptions.is-bordered.is-checked{
    border-color: var(--color5);
}
.SelectGalleryOrUpload .el-checkbox__label .imgSize {
    font-size: 80%;
    letter-spacing: 1px;
    margin-bottom: 3px;
}
.SelectGalleryOrUpload .PictureOptions .imgBox .el-image{
    width: 100%;
    height: 7vh;
}
.SelectGalleryOrUpload .PictureOptions .name{
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    display: block;
    -webkit-box-orient: vertical;
}
.SelectGalleryOrUpload .SelectImageList .el-radio__input{
    display: none;
}
.SelectGalleryOrUpload .SelectImageList .el-radio.is-bordered{
    height: auto;
    margin: 0;
    border-width: 3px;
}
.SelectGalleryOrUpload .SelectImageList .el-radio.is-bordered+.el-radio.is-bordered,
.SelectGalleryOrUpload .PictureOptions.el-checkbox.is-bordered+.el-checkbox.is-bordered{
    margin: 0;
}
.SelectGalleryOrUpload .SelectImageList .el-radio.is-bordered.is-checked{
    border-color: var(--color5);
}
.SelectGalleryOrUpload .PictureOptions .imgBox{
    margin: -10px 0 10px;
}
.SelectGalleryOrUpload .PictureOptions.el-checkbox .imgBox{
    margin: 7px 0 3px;
}
.SelectGalleryOrUpload .PictureOptions .time {
    margin-top: 7px;
    font-size: 90%;
    opacity: 0.5;
}
.SelectGalleryOrUpload label.el-checkbox.PictureOptions .time{
    margin-bottom: 12px;
}
.SelectGalleryOrUpload .el-dialog__headerbtn{
    z-index: 99;
}
.SelectGalleryOrUpload .SelectImageList .el-radio .imgSize{
    font-size: 80%;
    letter-spacing: 1px;
    margin-bottom: 3px;
}
.SelectGalleryOrUpload span.el-checkbox__input{
    display: none;
}
/*手機*/@media (max-width: 767px){
    .SelectGalleryOrUpload .SelectImageArea{
        height: 40vh;
        margin: 15px 0;
    }
    .SelectGalleryOrUpload .SelectImageList{
        grid-template-columns: 1fr 1fr ;
    }
    .SelectGalleryOrUpload .SelectImageList .el-radio.is-bordered{
        padding:0 5px 5px;
    }
    .SelectGalleryOrUpload .PictureOptions .name{
        width: 35vw;
    }
    .SelectGalleryOrUpload .el-dialog--center .el-dialog__body{
        padding: 10px;
    }
}
/*手機以上*/@media (min-width: 768px){
    .SelectGalleryOrUpload .SelectImageArea{
        height: 46vh;
        margin: 3vh 0;
    }
    .SelectGalleryOrUpload .SelectImageList{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .SelectGalleryOrUpload .SelectImageList .el-radio.is-bordered{
        padding:0 10px 10px;
    }
    .SelectGalleryOrUpload .PictureOptions .name{
        width: 24vw;
    }
}
/*PC*/@media (min-width: 992px){
    .SelectGalleryOrUpload .SelectImageList{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .SelectGalleryOrUpload .PictureOptions .name{
        width: 18vw;
    }
}
/*PC大*/@media (min-width: 1200px){
    .SelectGalleryOrUpload .SelectImageArea{
        height: 50vh;
    }
    .SelectGalleryOrUpload .SelectImageList{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .SelectGalleryOrUpload .PictureOptions .name{
        width: 13vw;
    }
}
/*------------會員管理-------------*/
.MemberListPage .closeType{
    color: var(--color5);
}

.memberList tr td{
    border-bottom: 1px solid #ced4db;
    padding: 8px;
}
.memberList tr td:nth-child(1){
    text-align: center;
}
#app .el-checkbox__inner{
    width: 20px;
    height: 20px;
}
#app .el-checkbox__inner::after{
    height: 12px;
    width: 5px;
    left: 6px;
}

.AddedList .btn{
    border-radius: 100%;
    padding: 0 5px;
}
.bottomEndListButton .btn{
    margin: 40px 0 10px;
    border-radius: 10px;
}
.bottomEndListButton .btn{
    padding: 13px 30px;
}

.outBigLayout h3{
    color: var(--color6);
    font-weight: 300;
}

.yimo-vue-editor h3{
    color: #212529;
    font-weight: 500;
    margin: 0;
}

.RolesBox .RolesTitle{
    background-color: var(--color3);
    border: 1px solid var(--color2);
    padding: 10px 18px;

}
.RolesBox .RolesTitle .el-checkbox__label{
    color: black;
    letter-spacing: 1px;
}
.RolesBox .RolesList{
    padding: 15px 18px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--gray1);
}
.RolesBox{
    margin-bottom: 20px;
}
.RolesBox .RolesList .el-checkbox-group{
    padding-bottom: 9px;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--gray1);
    padding-left: 15px;
}
.RolesBox .RolesList .el-checkbox-group:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.RolesBox .RolesTitle label.el-checkbox {
    margin: 0;
}
#app .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
    top: 8px;
    transform: scale(0.8);
    height: 1px;
}

.RolesNewPage .RolesCheckAll{
    background-color: var(--color3);
    border: 1px solid var(--color2);
    padding: 10px 18px;
}
.RolesNewPage .RolesCheckboxGroup{
    padding: 15px 18px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--color2);
    background-color: var(--color4);
}
.RolesNewPage .RolesCheckAll .titleText{
    font-size: 120%;
    font-weight: bold;
}
.RolesNewPage .RolesCheckboxGroup .el-checkbox{
width: 100%;
}
#app .RolesNewPage .RolesCheckAll .el-date-editor.el-input{
    max-width: 180px;
}

.RolesNewPage .lineBg{
border-bottom: 1px solid #eeeeee;
    padding-bottom: 30px;
}


/*------------店家管理-------------*/
.ShopListAdminPage .logoImage, .ShopListBranchAdminPage .shopPhotos, .ShopListBranchPage .shopPhotos, .RecommendedStoresListPage .shopPhotos{
    height: 50px;
}

.ShopListBranchAdminPage h4 .btn, .ShopListBranchPage h4 .btn{
    border-radius: 100%;
    margin-left: 10px;
}
.ShopAdminEditPage .daySetup{
    padding-top: 6px;
}
.ShopAdminEditPage .daySetup label.el-checkbox{
    margin-left: 10px;
}
.ShopAdminEditPage .dataBox .dayLine.lastLine{
    border-bottom: none;
}
.ShopAdminEditPage .BranchInformation .el-input--suffix .el-input__inner{
    padding-right: 10px;
}
/*手機小*/@media (min-width: 1px){
    .ShopAdminEditPage .StorePictures.fileUploadList{
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload input, .ShopAdminEditPage .StorePictures .fileUpload .image-preview{
        width: 125px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload input,
    .ShopAdminEditPage .StorePictures .fileUpload .image-preview, .ShopAdminEditPage .StorePictures .fileUpload .image-preview img{
        height: 73.75px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload .file-upload-form {
        margin-top: -73.75px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload{
        height: 75.75px;
        width: 127px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload button{
        margin-left: 105px;
        margin-top: -73.75px;
    }
}
/*手機中*/@media (min-width: 375px){
    .ShopAdminEditPage .StorePictures .fileUpload input, .ShopAdminEditPage .StorePictures .fileUpload .image-preview{
        width: 166.66px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload input,
    .ShopAdminEditPage .StorePictures .fileUpload .image-preview, .ShopAdminEditPage .StorePictures .fileUpload .image-preview img{
        height: 98.33px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload .file-upload-form {
        margin-top: -98.33px;
    }

    .ShopAdminEditPage .StorePictures .fileUpload{
        height: 100.33px;
        width: 168.66px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload button{
        margin-left: 145px;
        margin-top: -98.33px;
    }
}

/*手機以上*/@media (min-width: 768px){
    .ShopAdminEditPage .StorePictures.fileUploadList{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
     .ShopAdminEditPage .StorePictures .fileUpload input, .ShopAdminEditPage .StorePictures .fileUpload .image-preview{
        width: 250px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload input,
    .ShopAdminEditPage .StorePictures .fileUpload .image-preview, .ShopAdminEditPage .StorePictures .fileUpload .image-preview img{
        height: 147px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload .file-upload-form {
        margin-top: -147px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload{
        height: 149px;
        width: 252px;
    }
    .ShopAdminEditPage .StorePictures .fileUpload button{
        margin-left: 224px;
        margin-top: -147px;
    }
}
/*手機以上*/@media (min-width: 1024px){
    .ShopAdminEditPage .StorePictures.fileUploadList{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}
/*手機*/@media (max-width: 1199px){
    .ShopAdminEditPage .dayLine{
        padding-top: 12px;
    }
    .ShopAdminEditPage .col-xl-7.dayLine{
        padding-bottom: 15px;
        border-bottom: 1px solid #cdd4db;
        padding-top: 2px;
    }
}
/*PC大*/@media (min-width: 1200px){
    .ShopAdminEditPage .StorePictures.fileUploadList{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .ShopAdminEditPage .dayLine, .ShopAdminEditPage .col-xl-7.dayLine{
        padding-bottom: 12px;
        border-bottom: 1px solid #cdd4db;
        padding-top: 12px;
    }
    .ShopAdminEditPage .dayLine.firstLine{
        padding-top: 0;
    }
}
/*PC大*/@media (min-width: 1600px){
    .ShopAdminEditPage .StorePictures.fileUploadList{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/*------------廣告管理-------------*/
.ApplicationListPage .el-tabs__nav-wrap::after{
    background-color: #ffffff;
    height: 3px;
}
body .el-tabs__item.is-active{
    color: var(--color5);
}
body .el-tabs__active-bar{
    background-color: var(--color5);
    height: 3px;
}
.ApplicationListPage .el-tabs__nav-scroll{
    margin-left: 20px;
}
.ApplicationListPage .el-tabs__item:hover{
color: var(--color5);
}
.ApplicationListPage .el-tabs__header{
    margin: 0;
}
.ApplicationListPage .Withdrawn{
    color: #b2b2b2;
}
.ApplicationListPage .TobeListed{
    color: #b98139;
}
.ApplicationEditPage .fileUpload input, .ApplicationEditPage .fileUpload .image-preview, .ApplicationEditPage .fileUpload .image-preview img{
height: 239px;
}
.ApplicationEditPage .fileUpload input, .ApplicationEditPage .fileUpload .image-preview{
    width: 180px;
}
.ApplicationEditPage .fileUpload{
    width: 182px;
    height: 241px;
}
.LatestNewsListPage .pinTitle{
    color: var(--color5);
}

.LatestNewsListPage .pinTitle img{
    height: 20px;
}
.LatestNewsEditPage .fileUpload, .LatestNewsEditPage .fileUpload input, .LatestNewsEditPage .fileUpload .image-preview, .LatestNewsEditPage .fileUpload .image-preview img{
    height: 148px;
}
.LatestNewsEditPage .fileUpload, .LatestNewsEditPage .fileUpload input, .LatestNewsEditPage .fileUpload .image-preview{
    width: 250px;
}
.LatestNewsClassEditPage .el-checkbox-group span.title, .ColumnsClassEditPage .el-checkbox-group span.title{
    padding-left: 15px;
}
.LatestNewsClassEditPage .checkListBox, .ColumnsClassEditPage .checkListBox{
    min-height: 30vh;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid #e2e2e2;
    padding: 20px;
}
/*手機以上*/@media (min-width: 768px){
    .LatestNewsListPage .pinTitle::after{
        content: ' ';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: cover;
        margin-left: 5px;
        background-repeat: no-repeat;
        background-image: url("../images/push-pin.svg");
    }
}

/*------------優惠券管理-------------*/
.ChooseCouponNew .el-radio.is-bordered, .ChooseCouponNew .el-checkbox.is-bordered{
height: auto;
    padding: 20px 15px 0 15px;
    width: 100%;
    border: 3px solid #e9e9e9;
    border-radius: 8px;
}
.ChooseCouponNew .CouponType.el-radio.is-bordered.is-checked, .ChooseCouponNew .CouponType.el-checkbox.is-bordered.is-checked{
    border-color: var(--color5);
    background-color: var(--color4);
}
.ChooseCouponNew .DiscountCoupon.el-radio.is-bordered{
border: none;
    margin: 0;
    padding: 8px;
}
.ChooseCouponNew .DiscountCoupon.el-radio.is-bordered.is-checked{
    background-color: var(--color2);
}
.ChooseCouponNew .couponTitle{
    font-size: 120%;
}

.ChooseCouponNew .DiscountCoupon .el-radio__input{
    display: none;
}
.ChooseCouponNew .DiscountCoupon .el-radio__label{
    display: block;
    padding: 0;
}
.ChooseCouponNew .couponText{
    padding: 15px 0 15px ;
}
.TicketIntroduction .fileUpload{
    background-size: 170px;
}
.ConfirmTicketSettings table tr td{
    padding: 5px;
    border: 1px solid #e9e9e9;
    line-height: 1.8;

}
.ConfirmTicketSettings table tr td:nth-child(1), .ConfirmTicketSettings table tr td:nth-child(3){
    vertical-align: top;
    width: 92px;
    background-color: var(--color4);
    color: rgba(0, 0, 0, 0.6);
}
.ConfirmTicketSettings table tr td:nth-child(2), .ConfirmTicketSettings table tr td:nth-child(4){
letter-spacing: 1px;
}

body .el-steps.el-steps--simple{
margin-bottom: 20px;
}
body .el-step__title.is-success{
    color: #000000;
}
body .el-step__head.is-success{
    color: #000000;
    border-color: #000000;
}
.CardIntroduction .fileUpload, .CardIntroduction .fileUpload input, .CardIntroduction .fileUpload .image-preview {
    width: 250px;
}
.CardIntroduction .fileUpload, .CardIntroduction .fileUpload input, .CardIntroduction .fileUpload .image-preview, .CardIntroduction .fileUpload .image-preview img {
    height: 148px;
}

.ChooseCouponNew .col-lg-4.PeriodUse .CouponType{
    height: auto;
}
.CouponReceivingDetailsPage .InformationColumn td{
    padding: 10px 15px;
    border: 1px solid #ececec;
    text-align: center;
}
.CouponReceivingDetailsPage .InformationColumn tr:nth-child(1) td{
    background-color: var(--color4);
}
.ValidityPeriodList .eventTable li{
    margin-bottom: 15px;
}
.ValidityPeriodList .eventTable li:last-child{
    margin-bottom: 0;
}
.ValidityPeriodList .eventTable .time{
    font-size: 90%;
    opacity: 0.6;
}
.CouponListPage .rwd-table td:last-child .btn{
    margin:5px 10px 5px 0;
}
/*手機*/@media (max-width: 767px){
    body .el-steps.el-steps--simple {
        padding: 6px;
    }
    .TicketIntroduction .fileUpload input, .TicketIntroduction .fileUpload .image-preview, .TicketIntroduction .fileUpload .image-preview img {
        height: 109px;
    }
    .TicketIntroduction .fileUpload input, .TicketIntroduction .fileUpload .image-preview {
        width: 167px;
    }
    .TicketIntroduction .fileUpload{
        height: 111px;
        width: 169px;
    }
}

/*手機以上*/@media (min-width: 768px){
    body .el-steps.el-steps--simple {
        padding: 13px 3vw;
    }
    .ChooseCouponNew .col-lg-4 .CouponType {
        height: 190px;
    }
    .TicketIntroduction .fileUpload input, .TicketIntroduction .fileUpload .image-preview, .TicketIntroduction .fileUpload .image-preview img {
        height: 145px;
    }
    .TicketIntroduction .fileUpload input, .TicketIntroduction .fileUpload .image-preview {
        width: 222px;
    }
    .ChooseCouponNew.TransferRestrictions .col-lg-4 .CouponType{
        height: 133px;
    }
    .MembershipCardNew3Page .ChooseCouponNew .col-lg-4 .CouponType{
        height: 135px;
    }
    .ChooseCouponNew .col-lg-4.CardUse .CouponType{
        height: 65px;
    }
    .TicketIntroduction .fileUpload{
        height: 147px;
        width: 224px;
    }
}
/*PC*/@media (min-width: 992px){
    .CouponReceivingDetailsPage .InformationColumn {
        float: right;
    }
}
/*手機*/@media (max-width: 1199px){
    .CouponListPage .displayBox{
        display: none;
    }
}
/*PC大*/@media (min-width: 1200px){
    .ChooseCouponNew .couponText{
        padding: 15px 0 20px 30px;
    }
    .ChooseCouponNew .col-lg-4 .CouponType {
        height: 210px;
    }
    .MembershipCardNew3Page .ChooseCouponNew .col-lg-4 .CouponType{
        height: 150px;
    }
    .ChooseCouponNew .col-lg-4.CardUse .CouponType{
        height: 70px;
    }
}


/*------------問卷管理-------------*/

.QuestionnaireEditPage .fileUpload, .QuestionnaireEditPage .fileUpload input, .QuestionnaireEditPage .fileUpload .image-preview, .QuestionnaireEditPage .fileUpload .image-preview img {
    height: 148px;
}
.QuestionnaireEditPage .fileUpload, .QuestionnaireEditPage .fileUpload input, .QuestionnaireEditPage .fileUpload .image-preview {
    width: 250px;
}
.QuestionTopicListPage .MultipleChoice .CircleBox{
    width: 25px;
    height: 25px;
    border: 2px solid #d2d2d2;
    border-radius: 100%;
}
.QuestionTopicListPage .MultipleChoice td, .QuestionTopicListPage .CheckChoice td{
    padding-bottom: 13px;
}
.QuestionTopicListPage .MultipleChoice table tr td:nth-child(1), .QuestionTopicListPage .CheckChoice table tr td:nth-child(1){
    width: 40px;
}
.QuestionTopicListPage .MultipleChoice table tr:last-child td, .QuestionTopicListPage .CheckChoice table tr:last-child td{
    padding-bottom: 0;
}
.QuestionTopicListPage .MultipleChoice input.form-control, .QuestionTopicListPage .CheckChoice input.form-control{
    border-width: 0 0 1px;
    border-radius: 0;
    border-color: var(--color2);
    padding: 5px 0;
    transition: 0.2s;
}
.QuestionTopicListPage .MultipleChoice input.form-control:focus, .QuestionTopicListPage .CheckChoice input.form-control:focus{
    border-width: 0 0 4px;
    box-shadow: none;
}
.QuestionTopicListPage .list-group-item{
    padding: 2px 15px 23px;
    border-top: 3px solid var(--color5);
    border-bottom: none;
}

.QuestionTopicListPage .list-group-item:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.QuestionTopicListPage .list-group-item .newItem{
    color: #b3b3b3;
}
.QuestionTopicListPage .list-group-item .DeleteQuestion{
    padding: 0;
    line-height: 1;
    opacity: 0.4;
}
.QuestionTopicListPage .list-group-item .DeleteQuestion:hover{
    opacity: 1;
}
.QuestionTopicListPage .CheckChoice .CheckBox{
    width: 25px;
    height: 25px;
    border: 2px solid #d2d2d2;
}
.QuestionTopicListPage .StarRating i{
    font-size: 30px;
    color: var(--color1);
}
.QuestionTopicListPage .QuestionsAnswers .lineText{
    border-bottom: 1px dotted #a9a9a9;
    color: #a9a9a9;
    font-weight: 300;
    padding-bottom: 8px;
}
.QuestionTopicListPage .handle.SetOrder{
    color: #a9a9a9;
    font-weight: 500;
    letter-spacing: 2px;
}

.QuestionnaireRecordPage .card.card-body{
    border: none;
    padding: 0;
}
.QuestionnaireRecordPage .card.card-body ul li{
    margin-bottom: 20px;
}
.QuestionnaireRecordPage .card.card-body ul li:last-child{
    margin-bottom: 0;
}
.QuestionnaireRecordPage .card.card-body ul li .ReplyBox{
    color: var(--color5);
}
.QuestionnaireRecordPage .card.card-body ul li .StarRating{
    font-size: 30px;
}
.QuestionnaireRecordPage .card.card-body ul li .StarRating i.el-icon-star-on.off{
    opacity: 0.15;
    color: black;
}
.QuestionStatisticsChartPage{
    padding-bottom:50px;
}
.QuestionStatisticsChartPage .ChartList li{
    box-shadow: 0 5px 9px #c7c7c7;
    margin-top: 25px;
    padding-top: 20px;
}
.QuestionStatisticsChartPage .OneLineAnswer{
    margin-bottom: 20px;
}
.QuestionStatisticsChartPage .OneLineAnswer span.accountNumber{
    padding-left: 10px;
}
/*手機*/@media (max-width: 767px){
    .QuestionnaireRecordPage .card.card-body{
        max-width: 300px;


    }
    .QuestionnaireRecordPage .replayBox{}
}
/*手機以上*/@media (min-width: 768px){
    .QuestionnaireRecordPage .card.card-body{
        max-width: 400px;
    }
    .mainRightArea .QuestionnaireRecordPage .rwd-table td:nth-child(2), .mainRightArea .QuestionnaireRecordPage .rwd-table td:nth-child(3){
        padding: 12px 0px 12px;
    }
}
/*PC*/@media (min-width: 992px){
    .QuestionnaireRecordPage .card.card-body{
        max-width: 460px;
    }
}
/*PC大*/@media (min-width: 1200px){
    .QuestionnaireRecordPage .card.card-body{
        max-width: 615px;
    }
}
.ElMenuHidden{
    display: none;
}


/*--------------------------------------*/
/*--------------* 一般 *--------------*/
/*--------------------------------------*/
.GroupEditPage .topBox h3, .MemberEdit .topBox h3{
    margin-bottom: 0;
}

/*--------------------------------------*/
/*--------------* 工務 *--------------*/
/*--------------------------------------*/
.CaseNew .rwd-table tr th:nth-child(2){width: 145px;}
.CaseNew .rwd-table tr th:nth-child(3){width: 150px;}
.CaseNew .rwd-table tr th:nth-child(4){width: 150px;}


.TabStylePage .bottomBigArea {
    border-top: 4px solid #e9e9e9;
    padding: 15px 25px 0 25px;
}
.TabStylePage .bottomEndListButton .btn{
    margin: 0;
}
.TabStylePage .ComputingCosts{
    text-align: center;
}
.TabStylePage .ComputingCosts td {
    border: 1px solid var(--color1);
    padding: 2px 10px;
}
.TabStylePage .ComputingCosts tr:nth-child(1) td{
    background-color: var(--color3);
    color: var(--color1);
}
.TabStylePage .ComputingCosts tr:nth-child(2) td{
    color: #000000;
    font-weight: bold;
    font-size: 110%;
}
.TabStylePage .el-tabs__nav{
    margin-left: 21px;
}
.ParityEdit .nameInputTitle{
    color: var(--color1);
}
.mainRightArea .ParityEdit .rwd-table tr:nth-child(even) td {
    border: none;
    background-color: var(--color3);
}
.mainRightArea .ParityEdit .rwd-table tr:nth-last-child(1) td{
    border: none;
}
.ParityEdit .el-collapse-item__header {
    font-size: 19px !important;
}
.ParityEdit .el-collapse-item__content{
    padding-bottom: 0;
 }
@media (max-width: 767px){
    .TabStylePage .bottomBigArea{
        margin-bottom: 30px;
    }
}
@media (min-width: 768px){
    .TabStylePage .el-tab-pane {
        height: calc(100vh - 320px);
        overflow: auto;
    }
    .mainRightArea .DurationTable .rwd-table{
        margin: 0;
    }
    .ParityEdit .listInput{
        display: flex;
    }
    .ParityEdit .nameInputTitle, .ParityEdit .titleBox{
        width: 72px;
    }
    .ParityEdit .nameInputBox, .ParityEdit .inputBox{
        width: calc(100% - 72px);
    }
    .mainRightArea .ParityEdit .rwd-table tr:nth-child(even) td {
        padding: 8px 5px 8px 0;
    }
    .mainRightArea .ParityEdit .rwd-table tr:nth-child(odd) td {
        padding: 20px 12px;
    }
    .mainRightArea .ParityEdit .rwd-table th{
        background-color: var(--color2);
        color: #000;
    }
    .ParityEdit.typeBlock {
        padding: 15px 0;
    }
}