<template>
    <div>
        <div class="adminLoginPage">
            <div class="bgimg"></div>
            <div class="container">
                <div class="BoxSize col-12 col-md-9 col-lg-6">
                    <div class="inputBox">
                        <div class="login">
                            <!--                            <div class="logo"><img :src="require('@/assets/images/LOGOB.svg')"></div>-->
                            <div class="loginboxarea">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <img :src="require('@/assets/images/loginicon-1.svg')">
                                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="請輸入帳號" v-model="account">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <img :src="require('@/assets/images/loginicon-2.svg')">
                                            </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="請輸入密碼" v-model="password">

                                </div>
                                <span id="invalidFeedback"
                                      class="invalid-feedback"><strong>{{errorCode}}</strong></span>
                                <input type="button" class="btn btn-info" value="登入" @click="login">
                                <!--TODO 去ChooseStore選分店--->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <loading
                :active.sync=isLoading
                :can-cancel="false"
                :is-full-page="false">
        </loading>
    </div>
</template>

<script>
    import VueLoading from 'vue-loading-overlay'
    import 'vue-loading-overlay/dist/vue-loading.css'

    export default {
        name: "Login",
        components: {
            loading: VueLoading,
        },
        data() {
            return {
                account: "",
                password: "",
                isLoading: false,
            }
        },
        created: function () {
            if (this.$auth.isUserLogin()) {
                this.$router.push({name: 'Welcome'});
            }
        },
        mounted: function () {

        },
        methods: {
            login: function () {
                if (this.account === "") {
                    this.$message.warning("請輸入帳號");
                } else if (this.password === "") {
                    this.$message.warning("請輸入密碼");
                } else {
                    this.$http.fetchWithEncrypt`SignIn${{
                        'account': this.account,
                        'password': this.password,
                    }}
                    ${json => {
                        this.isLoading = false;
                        if (json.status === true) {
                            this.$auth.setUserToken(json.message);
                            this.$router.push({name: 'Welcome'});
                        } else {
                            this.$public.showNotify(json.message, json.status);
                        }
                    }}`;
                }
            },
        }
    }
</script>
