<template>
    <div class="BigAllMainPage">
        <div class="menuTwo">
            <nav class="navBarTop">
<!--                <div class="leftBox">-->
<!--                    <a class="navbar-brand" href="#">-->
<!--                        <div class="logo"></div>-->
<!--                    </a>-->
<!--                </div>-->
                <div class="centerBox">
                    <div class="box3">
                        <a class="link"><img :src="require('@/assets/images/usericon.svg')"><span>{{roleName}}</span></a>
                    </div>
                    <div class="box2">
                        <a @click="logout" class="link"><img
                                :src="require('@/assets/images/logout.svg')"><span>登出</span></a>
                    </div>
                    <div class="box1"></div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="el-icon-menu"></i>
                </button>
            </nav>
            <div class="mainLeftArea navbar-expand-lg">
                <sidebar/>
            </div>
        </div>
        <div class="mainRightArea">
            <div class="outBigLayout">
                <router-view></router-view>
            </div>

        </div>

    </div>
</template>

<script>
    import Sidebar from '@/components/Sidebar.vue'

    export default {
        name: "MainPage",
        components: {Sidebar},
        data() {
            return {
                storeList: [],
                selectStore: "",
                oldSelectStore: "",
                count: 0,
                roleName:"",
            }
        }, mounted() {

        }, methods: {
            logout() {
                this.$auth.clearToken();
                this.$router.push({name: 'Login'});
            },

        },
        watch: {
 
        }
    }
</script>

<style scoped>

</style>
