<template>
    <div class="DashboardPage">
            welcome
    </div>
</template>

<script>
    export default {
        name: "Welcome",
        data () {
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>
