<template>
    <div>
        <!-------TODO 複選的跳窗------->
        <div class="row">
            <div class="col-lg-3">
                <h2 style="font-weight: 300;">上傳新圖片</h2>
            </div>
            <div class="col-lg-9">
                <button class="btn btn-dark">本機上傳</button>
                <!----TODO 傳完就關掉視窗 顯示在頁面上---->
            </div>
            <div class="col-12" style="margin: 4vh 0;">
                <div style="border-top: 1px dashed #d4d4d4;"></div>
            </div>
            <div class="col-lg-3">
                <h2 style="font-weight: 300;">圖庫選擇</h2>
            </div>
            <div class="col-6 col-lg-4">
                <el-select v-model="status" placeholder="資料夾分類">
                    <el-option
                            v-for="item in statusOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="SelectImageArea">
            <el-checkbox-group v-model="selectImgList" class="SelectImageList">
                <el-checkbox class="PictureOptions" label="#1" border>
                    <div class="imgBox">
                        <el-image
                                :src="require('@/assets/images/couponnew_img.png')"
                                fit="contain">
                        </el-image>
                    </div>
                    <div class="imgSize">1000x590px</div>
                    <div class="name">檔案名稱A</div>
                    <div class="time">2019/12/30 12:15:45</div>
                </el-checkbox>
                <el-checkbox class="PictureOptions" label="#2" border>
                    <div class="imgBox">
                        <el-image
                                :src="require('@/assets/images/gift_img_16.png')"
                                fit="contain">
                        </el-image>
                    </div>
                    <div class="imgSize">1000x590px</div>
                    <div class="name">檔案名稱B</div>
                    <div class="time">2019/12/29 10:18:20</div>
                </el-checkbox>
                <el-checkbox class="PictureOptions" label="#3" border>
                    <div class="imgBox">
                        <el-image
                                :src="require('@/assets/images/logo_2.jpg')"
                                fit="contain">
                        </el-image>
                    </div>
                    <div class="imgSize">1000x590px</div>
                    <div class="name">檔案名稱C</div>
                    <div class="time">2019/12/28 12:15:45</div>
                </el-checkbox>
            </el-checkbox-group>

        </div>
        <div class="text-right">
            <button class="btn btn-dark">使用選擇的圖片</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SelectGalleryCheck",
        data() {
            return {
                statusOptions: [{
                    value: '1',
                    label: '無分類'
                }, {
                    value: '2',
                    label: '資料夾A'
                }, {
                    value: '3',
                    label: '資料夾B'
                }, {
                    value: '4',
                    label: '資料夾C'
                }, {
                    value: '5',
                    label: '資料夾D'
                }],
                status: '',
                selectImgList: ['']
            }
        },
    }

</script>

<style scoped>

</style>