<template>
    <div class="SidebarAll">

        <div class="collapse navbar-collapse" id="navbarText">


        </div>

    </div>
</template>

<script>
    export default {
        name: "Sidebar",
        data() {
            return {
                //當前開啟的父類別
                defaultOpen: [],
                items: [],
                //當前的子類別
                defaultActive: '',
                platform: '一般',
            }
        },
        created: function () {

        },
        mounted: function () { // vue 頁面載入生命週期
        },
        methods: {

        },
    }
</script>

<style scoped>

</style>
