<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>
<script>
    // import router from './router'
    // import http from "./util/http";

    export default {
        data() {
            return {
                dataList: []
            }
        },
        mounted: function () {
            // //跳轉前檢查是否有權限
            // router.beforeEach((to, from, next) => {
            //     if (to.path === "/" || to.path === "/admin" || to.path === "/choose-store") {
            //         this.dataList = [];
            //         next()
            //     } else {
            //         if (this.dataList.length === 0) {
            //             http.fetchWithAuth`CheckRouterPermission${{}}
            //             ${json => {
            //                 let judge = false;
            //                 this.dataList = json.path;
            //                 if (this.dataList != null) {
            //                     for (let i = 0; i < this.dataList.length; i++) {
            //                         if ("/admin/" + this.dataList[i] === to.path) {
            //                             judge = true
            //                         }
            //                     }
            //                     if (judge === true) {
            //                         next()
            //                     } else {
            //                         alert('沒有權限')
            //                     }
            //                 }
            //             }}`;
            //         } else {
            //             let judge = false;
            //             for (let i = 0; i < this.dataList.length; i++) {
            //                 if ("/admin/" + this.dataList[i] === to.path) {
            //                     judge = true
            //                 }
            //             }
            //             if (judge === true) {
            //                 next()
            //             } else {
            //                 alert('沒有權限')
            //             }
            //         }
            //     }
            // });
        },
    }
</script>
